* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #E3F2FD;
    display: grid;
    place-items: center;
}

.parent-container {
    background-image: url("./images/bg.png");
    width: 70%;
    height: 29%;
    padding: 1.3rem;
    border-radius: .5rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-brand {
    display: flex;
    align-items: center;
}
.logo-brand img {
 height: 2rem;
 margin-right: .8rem;
}

.chip-img {
    height: 2rem;
}

.card-number {
    margin-top: 2.7rem;
}

.card-number :first-child {
    margin-bottom: .7rem;
    font-size: .8rem;
}

.card-number :last-child {
    letter-spacing: .15rem;
}

.card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.card-info :first-child {
    align-self: flex-end;
}


@media screen and (min-width: 767px){
    .parent-container {
        height: 27%;
    }
}

@media screen and (min-width: 1024px){
    .parent-container {
        width: min(40%, 45%);
        height: max(35%, 40%);
    }
}

@media screen and (min-height: 430px) and (max-height: 560px){
    .parent-container {
        width: 37%;
        height: clamp(52% ,61% , 63%);
    }
}
