* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #E3F2FD;
    display: grid;
    place-items: center;
    font-size: .5rem;
}

.parent-container {
    background-image: url("./images/bg.png");
    width: min(69%,70%);
    height: 20% ;
    padding: 1.0rem;
    border-radius: .5rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-brand {
    display: flex;
    align-items: center;
}
.logo-brand img {
 height: 1rem;
 margin-right: .6rem;
}

.logo-brand :last-child {
    font-size: .5rem;
}

.chip-img {
    height: 1rem;
}

.card-number {
    margin-top: 2.7rem;
}

.card-number :first-child {
    margin-bottom: .7rem;
    font-size: .5rem;
}

.card-number :last-child {
    letter-spacing: .10rem;
    font-size: .5rem;
}

.card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.card-info :first-child {
    align-self: flex-end;
    font-size: .5rem;
}

.valid-date p {
    font-size: .5rem;
}


@media screen and (min-width: 767px){
    .parent-container {
        height: 27%;
        width: min(50%, 55%);
    }
    .parent-container .card-header img {
        height: 2rem;
    }
    .card-header .logo-brand p {
        font-size: 1.5rem;
    }
    .card-header .logo-brand img {
        height: 1.5rem;
    }
    .card-header .logo-brand :last-child {
        font-size: 1.5rem;
    }
    .parent-container .card-number * {
        font-size: 1rem;
    }

    .parent-container .card-info * {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1023px){
    body .parent-container {
        width: min(40%, 45%);
        height: min(37%, 42%) ;
    }
}

@media screen and (min-height: 430px) and (max-height: 560px){
    body .parent-container {
        width: 40%;
        height: clamp(55% ,58% , 60%);
    }
}
